
:root{
    --primary-color: #fff;
    --secondary-color : #9d00ff;
    --third-color : #f718e0;
  }


  .visiblo-btn-color{
    background:var(--secondary-color);
    box-shadow: var(--third-color) 0px 0px 15px 0px, rgba(255, 255, 255, 0.76) 0px 0px 4px 0px inset;
    border-color: var(--secondary-color);
  }


  .visiblo-btn-arrow:hover::after, .icon-bar a.active, .sidebar a.active{
    color: var(--secondary-color);
  }

 

  h1 span.color, h2 span.color,  h3 span.color{
    background-image: linear-gradient(278deg,  var(--secondary-color) 0%, var(--third-color) 100%);
  }